.scrollbar::-webkit-scrollbar {
  width: 16px;
  height: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.scrollbar::-webkit-scrollbar-track:hover {
  border-radius: 100vh;
  background: #f4f7fe;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a3aed0;
  border: 3px solid #f6f7ed;
  border-radius: 100vh;
}
